@import '../../utils/Variables';

.navbar {
    margin: 0 auto;
    max-width: $desktop-max;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

@media (max-width: $tablet-max) {
    .navbar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: $mobile-max) {
    .navbar {
        max-width: $mobile-max;
        width: 100%;
        flex-direction: column;
    }
}
