@import '../../utils/Variables';

.container {
  max-width: $tablet-max;
  width: 100%;
  margin: 0 auto;
}
.error {
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: auto;
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}